<!DOCTYPE html>
<html>
<head>
    <title>Applications</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h1>Student Applications</h1>
    <table border="1" width="100%">
        <tr>
            <th>ID</th>
            <th>Student Email</th>
            <th>Company</th>
        </tr>
        {% for app in applications %}
        <tr>
            <td>{{ app[0] }}</td>
            <td>{{ app[1] }}</td>
            <td>{{ app[2] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>