<!DOCTYPE html>
<html>
<head>
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>Student Dashboard</h1>

    <h3>
🎓 Welcome Student
</h3>

<p>
Track placements, explore companies and apply for opportunities.
</p>

    <p>You have successfully logged in.</p>

    <hr>

    <h3>Available Companies</h3>

    <ul style="list-style:none;">
        <li>TCS</li>
        <li>Infosys</li>
        <li>Wipro</li>
        <li>Accenture</li>
    </ul>

    <br><br>

    <a href="/companies" class="btn">🏢 View Companies</a>
    <a href="/" class="btn">🏠 Home</a>

</div>

</body>
</html>