<!DOCTYPE html>
<html>
<head>
    <title>Student Placement Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            Placement Portal
        </div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </div>
    </nav>
    <div class="container">
        <h1>Student Placement Management System</h1>
        <p class="subtitle">
            Start your career journey — Login to explore companies and apply 🚀
        </p>
        <!-- If NOT logged in -->
        {% if not session.get('user') %}
            <a href="/login" class="btn">Student Login</a>
            <a href="/register" class="btn">Student Registration</a>

        {% else %}
            <!-- If logged in -->
            <h3>Welcome, {{ session['user'] }}</h3>
            <a href="/dashboard" class="btn">Go to Dashboard</a>
            <a href="/logout" class="btn">Logout</a>
        {% endif %}
    </div>
</body>
</html>