<!DOCTYPE html>
<html>
<head>
    <title>Student Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h1>Student Registration</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Full Name" required>
        <br><br>
        <input type="email" name="email" placeholder="Email" required>
        <br><br>
        <input type="text" name="branch" placeholder="Branch" required>
        <br><br>
        <input type="number" step="0.01" name="cgpa" placeholder="CGPA" required>
        <br><br>
        <input type="password" name="password" placeholder="Password" required>
        <br><br>
        <!-- RESUME UPLOAD -->
        <label><b>Upload Resume (PDF/DOC)</b></label><br>
        <input type="file" name="resume" accept=".pdf,.doc,.docx" required>
        <br><br>
        <button type="submit" class="btn">
            Register
        </button>
    </form>
</div>
</body>
</html>